#visualization {
    width: auto;
    overflow: hidden;
}
#scenes {
    width: auto;
    float:left;
}
#controls {
    overflow: hidden;
}
button:active{
    background:olive;
}
button:checked{
    background:olive;
}
